*,
*::after,
*::before{
    box-sizing: border-box
}

a{
    text-decoration: none;
}

body{
    font-family: 'Exo', sans-serif;
    font-weight: 500;
    color: #282828;
    font-size: 16px;
    line-height: 26px;
}

header{
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1052px;
    background-position: center center;
}

.container{
    max-width: 1155px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__content{
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    padding: 150px 10px 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__title{
    font-size: 60px;
    font-weight: 100;
    line-height: 75px;
    letter-spacing: 0.4px;
    padding-bottom: 50px;
}

.header__video{
    width: 60px;
    height: 60px;
    background-color: #8085a2;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
}

.header__video:hover{
    background-color: #323969;
}

.header__video::before{
    font-family: 'icomoon' !important;
    content: "\e900";
    position: absolute;
    color: #fff;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
}

.header__btn{
    line-height: 50px;
    letter-spacing: 2px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    background-color: #ff6d6d;
    padding: 0 50px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 40px;
}

.header__text{
    font-size: 14px;
    line-height: 61px;
    letter-spacing: 0.4px;
    font-weight: 400;
}

.about{
    position: relative;
}

.about::before{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 0 567px 567px;
    border-color: #ff8a8a  transparent;
    bottom: 0;
    right: 0;
    z-index: 2;
}


.about::before{
    content: "";
    position: absolute;
    height: 745px;
    width: 567px;
    background-color: #ececec;
}

.about__content{
    max-width: 570px;
    padding-top: 185px;
    padding-bottom: 165px;
}


.about__suptitle,
.description__suptitle,
.browser__suptitle{
    line-height: 33px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ff6d6d;
}

.about__title,
.description__title,
.browser__title{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.4px;
    padding-bottom: 45px;
}

.about__title span,
.description__title span{
    color: #ff6d6d;
}

.about__text,
.description__text,
.browser__text{
    line-height: 26px;
    letter-spacing: 0.4px;
}

.about__text p + p{
    padding-top: 35px;
} 

.features{
    background-color: #f6f5f3;
}
.features__inner{
    padding-top: 130px;
    padding-bottom: 180px;
    position: relative;
}

.features__heading{
    text-align: center;
}

.features__heading-suptitle{
    line-height: 34px;
    letter-spacing: 2px;
    color: #ff6d6d;
    text-transform: uppercase;
}

.features__heading-title{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.4px;
    padding-bottom: 85px;
}

.features__content{
    display: flex;
    justify-content: space-between;
}

.features__box{
    text-align: center;
}

.features__box-title{
    font-size: 22px;
    line-height: 50px;
    letter-spacing: 0.4px;
}

.features__box-text{
    letter-spacing: 0.4px;
}

.features__box + .features__box{
    margin-left: 45px;
}

.description__wrapper{
    position: relative;
}

.description__wrapper::before{
    content: "";
    position: absolute;   
    border-style: solid;
    border-width: 608px 0 0 608px;
    border-color:transparent  #ff8a8a ;
    z-index: -1;
}

.description__inner{
    padding-top: 95px;
    padding-bottom: 95px;
    display: flex;
}

.description__content{
    max-height: 367px;
    padding-top: 29px;
    padding-left: 30px;
}

.description__inner img{
    margin-right: 5px;
    min-width: 630px;
}

.comment{
    background-color: #000000;
    background-image: url(../images/comment-bg.png);
}

.comment__box + .comment__box{
    margin-left: 60px;
}

.comment__top{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 110px 0 100px 0;
}

.comment__box-avatar{
    width: 76px;
    height: 76px;
    background-color: #4e4e5e;
    border: 2px solid #1d1e24;
    margin: 0 auto;
}

.comment__box-name{
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #fff;
    padding-top: 20px;
}

.comment__box-position{
    color: #ff6d6d;
    padding-bottom: 30px;
}

.comment__box-text{
    line-height: 26px;
    letter-spacing: 0.4px;
    font-style: italic;
    color: rgba(255, 255, 255, 0.66)
}

.comment__logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 68px 76px 68px;
}

.browser{
 background-color: #f6f5f3;
}

.browser__inner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.browser__content{
    text-align: center;
    max-width: 670px;
    padding-top: 130px;
    padding-bottom: 100px;
}

.browser__image img{
    min-height: 375px;
    margin-bottom: -7px;
}

.form{
    background-color: #323969;
}

.form__top{
text-align: center;
padding-top: 80px;
}

.form__top-suptitle{
    color: #ff6d6d;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 30px;
}

.form__top-title{
    color: #fff;
    font-size: 40px;
    letter-spacing: 0.4px;
    line-height: 50px;
}

.form__middle-more{
    display: flex;
    justify-content: flex-end;
    padding: 38px 40px 38px 38px;
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.4px;
    position: relative;
}

.form__middle-more::before{
    content: "";
    background-image: url(../images/arrow.png);
    position: absolute;
    width: 56px;
    height: 41px;
    right: 205px;
    top: 43px;
}

.form__middle{
    display: flex;
    justify-content: space-between;
}

.form__middle input[type="text"]{
    width: 263px;
    height: 49px;
    border-radius: 3px;
    background-color: rgba(246,245,243,0.2);
    border: none;
    padding-left: 30px;
    font-weight: 400;
    color: #f6f5f3;
    letter-spacing: 0.4px;
    line-height: 75px;
    outline: none;
}

.form__middle ::placeholder{
    font-weight: 400;
    color: #f6f5f3;
    letter-spacing: 0.4px;
    line-height: 75px;
}

.form__middle input[type="submit"]{
    cursor: pointer;
    padding: 15px 97px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(14,15,15,0.25);
    background-color: #ff6d6d;
    border: none;
    color: #f6f5f3;
    font-size: 15px;
    letter-spacing: 0.4px;
    outline: none;
} 


.form__middle input + input{
    margin-left: 20px;
}
.form__bottom{
    padding-bottom: 83px;
    padding-top: 30px;
}

.form__bottom, 
.form__bottom a{
    text-align: center;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 75px;
    color: rgba(246, 245, 243, 0.6);
    font-weight: 400;
}

.footer__wrapper{
    position: relative;
}

.footer__wrapper::after{
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 0 331px 331px 0;
    border-color: transparent #ff8a8a ;
    top: 0;
    right: 0;
}


.form__bottom a{
    text-decoration: underline;
}

.footer__content{
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
    padding-bottom: 95px;
}

.footer__start{
    max-width: 263px;
}

.footer__start-title{
    font-size: 27px;
    line-height: 50px;
    color: #2c2f49;
    font-weight: 400;
    position: relative;
    margin-bottom: 12px;
}
.footer__start-title span{
    color: #fff;
}

.footer__start-title::after{
    content: "";
    width: 43px;
    height: 47px;
    background-image: url(../images/footer-tiangle.png);
    position: absolute;
    color: #ff8a8a;
    font-size: 20px;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    left: 67px;
   
}

.footer__start-content{
    font-size: 14px;
    letter-spacing: 0.4px;
    line-height: 26px;
    color: rgba(40, 40, 40, 0.56);
}

.footer__support-title,
.footer__about-title,
.footer__news-title{
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 48px;
    color: #282828;
    margin-bottom: 12px;
}

.footer__support-content a,
.footer__about-content a{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.4px;
    color: rgba(40, 40, 40, 0.66)
}

.footer__support-content ul,
.footer__about-content ul{
    list-style: none;
}

.footer__email{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.footer__email input[type="text"] {
    width: 211px;
    height: 49px;
    border-radius: 3px;
    background-color: #f6f6f6;
    border: none;
    padding-left: 30px;
}

.footer__email ::placeholder{
    color: rgba(0, 0, 0, 0.66);
    font-weight: 400;
}

.footer__email input[type="submit"] {
    width: 52px;
    height: 49px;
    border-radius: 3px;
    box-shadow: 0px 3px 3px rgba(14,15,15,0.25);
    background-color: #ff6d6d;
    border: 1px solid #ff6d6d;
    position: relative;
    outline: none;
    cursor: pointer;
}

.footer__email::before{
    content: "";
    position: absolute;
    background-image: url(../images/email.png);
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 22px;
    height: 22px;
    z-index: 1;
    cursor: pointer;
}

.footer__news-icons{
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-left: 47px;
}

.footer__news-icons a + a{
    padding-left: 25px;
}